NEXT_PUBLIC_KEYCLOAK_AUTH_URL="https://keycloak.buzzcut-season.ru/realms/admin/protocol/openid-connect/auth?client_id=admin-web&redirect_uri=https%3A%2F%2Fadmin.buzzcut-season.ru%2F&response_type=code&scope=openid"
